<h1><%= @post.title %></h1>
By: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %><br><br>
Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %><br><br>

<p><%= @post.content %></p>
Likes: <%= @post.likes %>




<%= button_to 'like', "/posts/#{@post.id}/like", method: :patch, params: {name: "like"} %>

<%= button_to 'dislike', "/posts/#{@post.id}/like", method: :patch, params: {name: "dislike"} %>